@import url("normalize.css");
@import url("grid.css");
@import url("fonts.css");

:root {
  --primary-color: #0abead;
  --text-color: #333333;
  --shadow-color: rgba(18, 282, 255, 0.24);
  --app-bg-color: #fff;
  --section-bg-color: #fff;
}

/* 

------------------ Reset styles --------------------

*/

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

/* 


------------------ App --------------------


*/

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins-Regular";
  font-size: 1.6rem;
  line-height: 1.2;
}

/* 


------------------ Header --------------------


*/

.header {
  position: fixed;
  right: 0;
  left: 0;
  box-shadow: 0 0.3rem 5.9rem #04c3ff29;
  background-color: var(--app-bg-color);
  z-index: 100;
}
.nav {
  height: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-family: "Poppins-Black";
  font-size: 7.8rem;
  color: var(--primary-color);
}
.menu {
  display: flex;
  gap: 5rem;
  font-family: "Poppins-Medium";
}
.menu__link {
  transition: color 150ms ease-in;
}
.menu__link--active {
  color: var(--primary-color);
}
.menu__link:hover {
  color: var(--primary-color);
}
.nav__toggle-icon {
  display: none;
  height: 4rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav__toggle-line {
  position: relative;
  display: inline-block;
  transition: all 100ms ease-in;
}
.nav__toggle-line,
.nav__toggle-line::before,
.nav__toggle-line::after {
  content: "";
  width: 5rem;
  height: 0.4rem;
  border-radius: 2rem;
  background-color: var(--primary-color);
}
.nav__toggle-line::before {
  position: absolute;
  top: -1.2rem;
  transition: all 150ms ease-in;
}
.nav__toggle-line::after {
  position: absolute;
  top: 1.2rem;
  transition: all 150ms ease-in;
}
.nav__toggle-icon--open .nav__toggle-line {
  background-color: transparent;
}
.nav__toggle-icon--open .nav__toggle-line::before {
  transform: translateY(1.2rem) rotate(45deg);
}
.nav__toggle-icon--open .nav__toggle-line::after {
  transform: translateY(-1.2rem) rotate(-45deg);
}
