@media screen and (max-width: 1400px) {
  .home {
    background-size: auto;
  }
  .home__photo {
    background-position: -21.8rem -1rem;
    background-size: 162%;
  }
  .about__content {
    flex-basis: 50%;
  }
  .about__cover {
    flex-basis: 50%;
  }
  .service {
    padding: 5rem 3rem 4rem;
  }
}
@media screen and (max-width: 1200px) {
  .nav__logo {
    font-size: 6rem;
  }
  .menu {
    gap: 3.5rem;
  }
  .home {
    height: 90rem;
    padding-top: 20rem;
  }
  .home__say-hello {
    font-size: 2.4rem;
  }
  .home__title {
    font-size: 4rem;
  }
  .home__caption {
    font-size: 1.4rem;
  }
  .home__link {
    width: 16.6rem;
    height: 5rem;
  }
  .home__photo {
    width: 37rem;
    height: 37rem;
    background-size: 160%;
    background-position: -14.2rem -0.6rem;
    border-width: 1.7rem;
  }
  .about__img {
    object-position: -15rem;
  }
  .about__content {
    padding-left: 3.3rem;
  }
  .about__description {
    margin-bottom: 5rem;
  }
  .service {
    padding: 6rem 5.4rem;
  }
}

@media screen and (max-width: 992px) {
  .nav__logo {
    font-size: 4rem;
  }
  .menu {
    gap: 2rem;
  }
  .home {
    height: 80rem;
  }
  .home__say-hello {
    font-size: 2rem;
  }
  .home__title {
    font-size: 3.5rem;
  }
  .home__links-wrapper {
    gap: 1.6rem;
  }
  .home__photo {
    width: 32rem;
    height: 32rem;
    background-size: 170%;
    background-position: -13.6rem -0.6rem;
  }
  .about {
    flex-direction: column;
  }
  .about__content,
  .about__cover {
    flex-basis: auto;
  }
  .about__img {
    object-position: 0;
  }
  .about__links-wrapper {
    gap: 1.6rem;
  }
  .services .col-md-6 {
    padding: 0 1rem;
  }
  .service {
    padding: 5rem 3.4rem 4rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .nav__logo {
    font-size: 5.5rem;
  }
  .menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 100%;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    transition: all 200ms ease-in;
    background-color: var(--app-bg-color);
  }
  .menu--open {
    height: 29.5rem;
  }
  .menu__item:first-child {
    margin-top: 2rem;
  }
  .menu__item:last-child {
    margin-bottom: 2rem;
  }
  .nav__toggle-icon {
    display: flex;
  }
  .cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: -1;
    opacity: 0;
    transition: all 200ms ease-in;
  }
  .cover--show {
    opacity: 1;
    z-index: 99;
  }
  .home {
    height: 105rem;
    padding-top: 20rem;
    text-align: center;
  }
  .home__photo {
    margin: 0 auto;
    border-width: 1.3rem;
  }
  .home__content {
    padding-top: 3rem;
  }
  .home__links-wrapper {
    justify-content: center;
    margin-top: 2.5rem;
  }
  .service {
    padding: 6rem 7.4rem;
  }
  .service__wave {
    bottom: -8rem;
  }
}

@media screen and (max-width: 576px) {
  .about__cover {
    overflow: hidden;
  }
  .about__img {
    height: 41rem;
    transform: scale3d(1.2, 1.2, 1) translate3d(-2.5rem, 2.6rem, 0);
    object-position: -4rem;
  }
  .about__content {
    padding: 4rem 3rem;
  }
  .about__description {
    margin-bottom: 3rem;
  }
  .about__links-wrapper {
    flex-wrap: wrap;
  }
  .about__link {
    flex-basis: 100%;
  }
  .service {
    padding: 5rem 2rem;
    margin-bottom: 2rem;
  }
  .service__caption {
    max-width: 35rem;
    margin: 0 auto;
  }
  .service__wave {
    bottom: -7rem;
  }
}

@media screen and (max-width: 460px) {
  .service__wave {
    bottom: -2rem;
  }
}

@media screen and (max-width: 350px) {
  .home__content {
    padding-top: 2.5rem;
  }
  .home__say-hello {
    font-size: 1.8rem;
  }
  .home__title {
    font-size: 2.7rem;
  }
  .home__caption {
    font-size: 1.2rem;
  }
  .home__links-wrapper {
    flex-wrap: wrap;
  }
  .home__link {
    flex-basis: 100%;
  }
  .home__photo {
    width: 25rem;
    height: 25rem;
    background-size: 193%;
  }
  .about__title {
    font-size: 2rem;
  }
  .about__description {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: inherit;
  }
  .about-list {
    padding-left: 0;
  }
  .about__list-title {
    font-size: 1.7rem;
  }
  .about-list__item {
    font-size: 1.2rem;
    padding-left: 2.3rem;
  }
  .about__img {
    transform: none;
    object-position: -11rem;
  }
  .about__link {
    flex-basis: 100%;
    height: 5rem;
  }
  .section-head__caption {
    letter-spacing: 0.3rem;
  }
  .service {
    padding: 3rem 1.5rem;
    margin-bottom: 1.5rem;
  }
  .service__title {
    font-size: 2rem;
  }
  .service__caption {
    font-size: 1.2rem;
  }
  .service__wave {
    bottom: -3rem;
  }
}
